 /* Mobile width<740px */
@media only screen and (max-width: 46.1875em) {
    #menu-icon{
        display: block;
    }
    .navbar{
        display: none;
    }
}
/* Tablet width>=740px and width<1024px */
@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
    #menu-icon{
        display: block;

    }
    .navbar{
        display: none;
    }
    .home-text h1{
        font-size: 3.1rem;
    }
    .about .about-img{
        margin-top: -30%;
    }
    .about-img img{
        width: 350px;
        margin-left: 5px;
    }
    .about .about-text{
        margin-left: 30px;
    }
    .about-text h2{
        font-size: 1.9rem;
    }
    .about{
        display: grid;
        grid-template-columns: auto;
    }
    .heading h2{
        font-size: 1.9rem;
    }
    .menu-container .box{
        width: 60%;
    }
    .menu .menu-container{
       display: flex;
       flex-direction: column;

    }
    .service .service-container{
        display: flex;
        flex-direction: column;
    }
     .footer .main {
        display: flex;
        flex-direction: row;
    }
}
/* PC width>=1024px */
@media only screen and (width:64em) {
    header{
        padding: 30px 110px;
    }
    .home {
        min-height: 50vh;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .about-img img{
        width: 450px;
        margin-left: -130px;
    }
    .menu-container .box{
        width: 80%;
        
    }
    .menu-container{
        display: flex;
        flex-direction: column;
    }
    .service .service-container{
        display: flex;
        flex-direction: row;
    }
    .service{
        display: flex;
        flex-direction: column;
    }
    .main{
        display: flex;
        flex-wrap: nowrap;
    }
    .contact .footer .main{
        margin-left: -60px;
    }
}